* {
    margin: 0;
    box-sizing: border-box;
}

body {
   font-family: 'Open Sans', sans-serif;
}

#principal {
    min-height: 100vh;
    background-color: #F5F5F5;
}

.corDeFundo {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* BArra de navegação */

header {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    width: 1160px;
}

.navegacao ul {
    display: flex;
    list-style: none;
    width: 233px;
    justify-content: space-between;
}

.navegacao ul li a {
    all: unset;
    color: #545454;
    cursor: pointer;
}

/* FIM BARRA DE NAVEGAÇÃO */


/* INICIO CONTEUDO PRINCIPAL */
main {
    display: flex;
    margin-top: 56px;
    justify-content: center;
}

.wrapper {
    max-width: 1160px;
    display: flex;
    align-items: flex-start;
}

.conteudo-principal {
    margin-right: 47px;
}

section {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

section .titulo {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: 20px;
}

section h3 {
    font-size: 24px;
    line-height: 32,68px;
    margin-bottom: 5px;
}

section span {
    color: #929292;
    font-size: 12px;
    margin-bottom: 15px;

}

section .paragrafo {
    display: flex;
    flex-direction: column;
    margin: 20px 24px;
    font-size: 14px;
}

.paragrafo ul li {
    line-height: 30px;
}
.button {
    display: flex;
    justify-content: flex-end;
}

button {
    all: unset;
    border: 1px solid #FE0078;
    border-radius: 50px;
    width: 154px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 24px;
    margin-right: 24px;
}

button a {
    text-decoration: none;
    color: #222
}

button:hover{
    background-color: #FE0078;
}

button a:hover {
    color: white;
}


/* FIM CONTEUDO PRINCIPAL*/

/* Barra lateral*/
aside {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
}

aside input {
    all: unset;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 10px;
}

input:hover, input:focus {
    border-color: #FE0078;
}

.categoria {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 0 10px 0 11px; */
    
}


.borda-left {
    border-left: 2px solid #FE0078;
    padding: 8px;
}

.categoria h3, .anuncio h3 {
    font-size: 18px;
    
}

.categoria ul {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.categoria ul li {
    width: 100%;
    padding: 25px 5px;
    list-style: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #545454;
}

.categoria ul li a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #545454;
}

.categoria ul li:hover {
    border-color: #FE0078;
}

.categoria ul li a:hover {
    color: #FE0078;
}

.anuncio {
    width: 100%;
    height: 757px;
    display: flex;
    flex-direction: column;
}

.publicidades {
    background-color: #EEEEEE;
    margin: 32px 0;
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #545454;
    font-size: 30px;
}


/* Rodapé */
footer {
    min-width: 100vw;
    height: 70px;
    background-color: #222222;
    color: white;
    display: flex;
    flex-grow: 1;

    font-size: 14px;
    justify-content: center;
    align-items: center;
}


/* leia mais */


.formulario {
    margin-top: 86px;
}

.formulario h3 {
    font-size: 24px;
    margin-bottom: 24px;
}

.formulario input:focus {
    border-color: #FE0078   ;
}

label {
    display: block;
    width: 100%;
}

.input-flex label:first-child {
    margin-right: 24px;
}

label span {
    font-size: 14px;
}

label span, textarea {
    display: block;
}

textarea {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.input-flex {
    display: flex;
    margin-bottom: 24px;
}


.input-flex input {
    width: 100%;
    padding: 12px;
    border: 1px solid #EEEEEE;
}

textarea {
    width: 100%;
}

.input input:focus {
    outline-color: #FE0078;
}

.input textarea:focus {
    outline-color: #FE0078;
}

.button2 {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.button2 button {
    all: unset;
    background-color: #FE0078;
    border: 1px solid #FE0078;
    border-radius: 50px;
    cursor: pointer;
    
    margin-left: auto;

    padding: 12px 24px;
    margin-top: 44px;
    color: white;
    font-weight: bold;
}


/* PAGINA CONTATO */

.form-contato {
    margin-top: 86px;
}

.form-contato h3 {
    font-size: 16px;
    margin-bottom: 24px;
}

.input input {
    width: 100%;
    padding: 12px;
    border: 1px solid #EEEEEE;
    margin-bottom: 16px;
}

.corDeFundo2 {
    background-color: #FFFFFF;
    padding: 24px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    height: min-content;
}

.contato {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.contato h3 {
    font-size: 24px;
    margin-bottom: 24px;
}

.informacao-contato {
    display: flex;
    flex-direction: column;
}

.informacao-contato h4 {
    margin-bottom: 26px;
    text-transform: uppercase;
}

.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
}

.detalhes {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.detalhes img {
    margin-right: 8px;
}

.detalhes span {
    font-weight: bold;
}

.maisDetalhes {
    margin-left: 1px;
}