* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   font-family: 'Open Sans', sans-serif;
}

#principal {
    min-height: 100vh;
    background-color: #F5F5F5;
}

.corDeFundo {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* BArra de navegação */

header {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    width: 1060px;
}

.navegacao ul {
    display: flex;
    list-style: none;
    width: 233px;
    justify-content: space-between;
}

.navegacao ul li a {
    all: unset;
    color: #545454;
    cursor: pointer;
}

/* FIM BARRA DE NAVEGAÇÃO */


/* INICIO CONTEUDO PRINCIPAL */
main {
    display: flex;
    margin-top: 56px;
    justify-content: center;
}

.wrapper {
    max-width: 1060px;
    display: flex;
}

.conteudo-principal {
    margin-right: 47px;
}

section {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

section .titulo {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: 20px;
}

section h3 {
    font-size: 24px;
    line-height: 32,68px;
    margin-bottom: 5px;
}

section span {
    color: #929292;
    font-size: 12px;
    margin-bottom: 15px;

}

section .paragrafo {
    display: flex;
    flex-direction: column;
    margin: 20px 24px;
    font-size: 14px;
}

.button {
    display: flex;
    justify-content: flex-end;
}

button {
    all: unset;
    border: 1px solid #FE0078;
    border-radius: 50px;
    width: 154px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 24px;
    margin-right: 24px;
}

button a {
    text-decoration: none;
    color: #222
}

button:hover{
    background-color: #FE0078;
}

button a:hover {
    color: white;
}


/* FIM CONTEUDO PRINCIPAL*/

/* Barra lateral*/
aside {
    width: 380px;
    height: 1396px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

aside input {
    all: unset;
    width: 340px;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    margin: 20px 20px 4px 20px;
    padding: 10px;
}

input:hover, input:focus {
    border-color: #FE0078;
}

.categoria {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 0 10px 0 11px;
    
}

.categoria ul li {
    color: #545454;
}

.borda-left {
    border-left: 2px solid #FE0078;
    padding: 8px;
}

.categoria h3, .anuncio h3 {
    font-size: 18px;
    
}

.categoria ul {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.categoria ul li {
    width: 340px;
    padding: 25px 5px;
    list-style: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

.categoria ul li a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #545454;
}

.categoria ul li a:hover {
    color: #FE0078;
    border-color: #FE0078;
}

.anuncio {
    height: 757px;
    margin: 0 10px 0 11px;
    display: flex;
    flex-direction: column;
}

.publicidades {
    background-color: #EEEEEE;
    margin: 32px 20px;
    width: 340px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #545454;
    font-size: 30px;
}


/* Rodapé */
footer {
    min-width: 100vw;
    height: 70px;
    background-color: #222222;
    color: white;
    display: flex;
    flex-grow: 1;

    font-size: 14px;
    justify-content: center;
    align-items: center;
}


/* leia mais */


.formulario {
    border: 1px solid grey;
    margin-top: 86px;
}

.formulario h3 {
    font-size: 24px;
    margin-bottom: 24px;
}

label {
    display: block;
    width: 100%;
}

.input-flex label:first-child {
    margin-right: 24px;
}

label span {
    font-size: 14px;
}

label span, textarea {
    display: block;
}


.input-flex {
    display: flex;
    margin-bottom: 24px;
}


.input-flex input {
    width: 100%;
    padding: 12px;
    border: 1px solid #EEEEEE;
}

textarea {
    width: 100%;
}

.button2 {
    all: unset;
    background-color: #FE0078;
    border: 1px solid #FE0078;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    
    border: 1px solid black;
    margin-left: 650px;
}

.button2 button {
    width: 98px;
    display: inline-block;
    margin-top: 44px;
}




