nav {
  background-color: #fff;
  padding: 1.4rem 14rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  margin-bottom: 5.6rem;
  ul {
    display: flex;
  }

  a {
    padding: 1.4rem 2.4rem;
  }
}
