.post-comments {
  display: flex;
  flex-direction: column;
  padding-right: 4.7rem;
  div {
    display: flex;
    justify-content: space-between;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  label {
    margin-bottom: 0.8rem;
  }
  input {
    height: 4.2rem;
    width: 35rem;
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 2.4rem;
    &:hover,
    &:focus,
    &:active {
      border: 1px solid $pink;
    }
  }
  .btn-open {
    display: flex;
    justify-content: right;
  }
  textarea {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 4.8rem;
  }
  button {
    font-size: 1.4rem;
    padding: 1.2rem 2.4rem;
    border-radius: 2rem;
    border: 1px solid $pink;
    margin-bottom: 2.4rem;

    background-color: $pink;
    color: #fff;
  }
}
