$dark-grey: #545454;
$light-grey: #929292;
$background: #e5e5e5;
$publi-grey: #eee;
$pink: #fe0078;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: $background;
  font-weight: 400;
  font-family: open;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 2.4rem;
  color: #000;
}
h3 {
  font-size: 1.8rem;
  color: #000;
}
h4 {
  font-size: 1.8rem;
  color: #000;
}
li,
p,
a,
label {
  font-size: 1.4rem;
  text-decoration: none;
  color: $dark-grey;
  list-style-type: none;
}

@import 'nav';
@import 'main';
@import 'aside';
@import 'post-comments';
@import 'contato';
@import 'footer';
